<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Find a game</title>
    <link rel="stylesheet" href="styles/style.css" />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/all">See all games</a>
          </li>
          <li>
            <a href="/find_game" class="active">Find a game</a>
          </li>
          <li>
            <a href="/insert_game">Insert a new game</a>
          </li>
          <li>
            <a href="/update_game">Update a game</a>
          </li>
          <li>
            <a href="/delete_game">Delete a game</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>Find a game</h1>
      <form action="<%= action %>" method="POST">
        <div>
          <label for="number">Enter game number:</label>
          <input type="text" id="number" name="number" size="5" />
        </div>
        <button type="submit">Search</button>
      </form>
    </main>
    <footer>Valeriia Vagapova 2022</footer>
  </body>
</html>
